<div class="container">
<div class="alert alert-success" *ngIf="isSave">
  <strong>Success!</strong> Register successfully.
</div>
<div class="alert alert-success" *ngIf="isUpdate">
  <strong>Success!</strong>Update successfully.
</div>
<div class="alert alert-success" *ngIf="isDelete">
  <strong>Success!</strong>Delete successfully.
</div>
<table class="table text-center">
  <thead class="bg-info">
    <tr>
      <td colspan="3">
        <button class="btn btn-success" (click)="changePag(false)">
          <span class="glyphicon glyphicon-arrow-left">
          </span>
        </button>
      </td>
      <td colspan="3">
        <button class="btn btn-success" (click)="changePag(true)">
          <span class="glyphicon glyphicon-arrow-right">
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Profession</th>
      <th></th>
      <th>
        <button class="btn btn-primary" (click)="addNew()">
          <span class="glyphicon glyphicon-plus">
          </span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allClient; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <th>{{ item.name }}</th>
      <th>{{ item.age }}</th>
      <th>{{ item.profession }}</th>
      <th>
        <button class="btn btn-warning" (click)="findByName(item.name)">
          <span class="glyphicon glyphicon-edit">
          </span>
        </button>
      </th>
      <th >
        <button class="btn btn-danger" (click)="deleteByName(item.name)">
          <span class="glyphicon glyphicon-trash">
          </span>
        </button>
      </th>
    </tr>
  </tbody>
</table>
</div>